# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages of data science
+ Various tools used in Data science. 
+ Libraries used in Data science.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the popular languages that Data Scientists use are:
1. Pandas
2. Numpy
3. Scipy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|VS Code|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python
3 - 2 <br>
3 * 3

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minute = 200 
hours = minute / 60 
print(hours)

3.3333333333333335

## Author 
Yogesh Butani